@model Phone

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>Brand: @Model.Company</p>
<p>Price (USD): $@Model.Price</p>
<p>Description: @Model.Description</p>

@if(!string.IsNullOrEmpty(Model.PhotoUrl))
{
    <img src="@Model.PhotoUrl" alt="@Model.Name" style="max-width:300px;" />
}
<h3>Price in other currencies:</h3>
<ul>
    @foreach(var cur in ViewBag.Currencies as List<Currency>)
    {
        <li>@cur.CurrencyName (@cur.CurrencyCode): @(Model.Price * (decimal)cur.CurrencyRate)</li>
    }
</ul>
